apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: aap-external-postgres-configuration
  namespace: aap
  annotations:
    argocd.argoproj.io/sync-wave: "2"
    argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
spec:
  refreshInterval: "10m"
  secretStoreRef:
    name: aap-postgresql-secretstore
    kind: SecretStore
  target:
    name: external-postgres-configuration  # Name of the Kubernetes Secret to be created
  data:
  - secretKey: database
    remoteRef:
      key: one-aap-postgresql-database  # Name of the secret in AWS Secrets
      property: database  # Key within the JSON of the AWS secret cluster-admin
  - secretKey: host
    remoteRef:
      key: one-aap-postgresql-database  # Name of the secret in AWS Secrets
      property: host  # Key within the JSON of the AWS secret cluster-admin
  - secretKey: password
    remoteRef:
      key: one-aap-postgresql-database  # Name of the secret in AWS Secrets
      property: password  # Key within the JSON of the AWS secret cluster-admin
  - secretKey: port
    remoteRef:
      key: one-aap-postgresql-database  # Name of the secret in AWS Secrets
      property: port  # Key within the JSON of the AWS secret cluster-admin
  - secretKey: username
    remoteRef:
      key: one-aap-postgresql-database  # Name of the secret in AWS Secrets
      property: username  # Key within the JSON of the AWS secret cluster-admin
  - secretKey: sslmode
    remoteRef:
      key: one-aap-postgresql-database  # Name of the secret in AWS Secrets
      property: sslmode  # Key within the JSON of the AWS secret cluster-admin
  - secretKey: type
    remoteRef:
      key: one-aap-postgresql-database  # Name of the secret in AWS Secrets
      property: type  # Key within the JSON of the AWS secret cluster-admin
