apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  labels:
    role: custom-alerts
  name: image-registry-rules
  namespace: {{ .Values.namespace }}
spec:
  groups:
  - name: imageregistry.operations.rules
    rules:
    - expr: |
        label_replace(
          label_replace(
            sum by (operation) (imageregistry_request_duration_seconds_count{operation="BlobStore.ServeBlob"}), "operation", "get", "operation", "(.+)"
          ), "resource_type", "blob", "resource_type", ""
        )
      record: imageregistry:operations_count:sum
    - expr: |
        label_replace(
          label_replace(
            sum by (operation) (imageregistry_request_duration_seconds_count{operation="BlobStore.Create"}), "operation", "create", "operation", "(.+)"
          ), "resource_type", "blob", "resource_type", ""
        )
      record: imageregistry:operations_count:sum
    - expr: |
        label_replace(
          label_replace(
            sum by (operation) (imageregistry_request_duration_seconds_count{operation="ManifestService.Get"}), "operation", "get", "operation", "(.+)"
          ), "resource_type", "manifest", "resource_type", ""
        )
      record: imageregistry:operations_count:sum
    - expr: |
        label_replace(
          label_replace(
            sum by (operation) (imageregistry_request_duration_seconds_count{operation="ManifestService.Put"}), "operation", "create", "operation", "(.+)"
          ), "resource_type", "manifest", "resource_type", ""
        )
      record: imageregistry:operations_count:sum
