apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  labels:
    role: custom-alerts
  namespace: {{ .Values.namespace }}
  name: node-tuning-operator
spec:
  groups:
  - name: node-tuning-operator.rules
    rules:
    - alert: NTOPodsNotReady
      annotations:
        description: |
          Pod {{ "{{" }} $labels.pod {{ "}}" }} is not ready.
          Review the "Event" objects in "openshift-cluster-node-tuning-operator" namespace for further details.
        summary: Pod {{ "{{" }} $labels.pod {{ "}}" }} is not ready.
      expr: |
        kube_pod_status_ready{namespace='openshift-cluster-node-tuning-operator', condition='true'} == 0
      for: 30m
      labels:
        severity: warning
        customer: "true"
        namespace: {{ .Values.namespace }}
    - alert: NTODegraded
      annotations:
        description: The Node Tuning Operator is degraded. Review the "node-tuning"
          ClusterOperator object for further details.
        summary: The Node Tuning Operator is degraded.
      expr: nto_degraded_info == 1
      for: 2h
      labels:
        severity: warning
        customer: "true"
        namespace: {{ .Values.namespace }}
    - expr: count by (_id) (nto_profile_calculated_total{profile!~"openshift-node",profile!~"openshift-control-plane",profile!~"openshift"})
      record: nto_custom_profiles:count
